@charset "utf-8";
@media screen and (min-width:481px) and (max-width:1024px){

h3{ font-size:18px;}

#wrap {
	width: 100%;
	margin:0px auto;
	padding:1% 0%;
}
#header {
	width:100%;
}
#header h1 { font-size:36px; padding:1% 0%;}

/*	-----	-----	-----	-----	Home	-----	-----	-----	-----	----	----*/

#banner{ width:100%;}
#banner img{ margin:3%; width:90%;}
#banner blockquote{ margin:0% 0% 1% 3%; font-size:14px; width:96%;}
#banner p{margin:0% 6% 3% 0%;}

#nav{margin:0%; padding:0%; }
#nav ul li{ margin:0%; width:24.5%;}
#nav a, #nav a:visited, #nav a:link{  width:100%; text-align:center; font-size:24px;padding:8% 0%; }
#rotatorgroup{ display:none;}

/*	-----	-----	-----	-----	Nosotros	-----	-----	-----	-----	----	----*/

#luzSilente { width:100%;}
#luzSilente #tituloLuzSilente{ width:100%;}
#luzSilente #tituloLuzSilente h2{ font-size:3em; padding:45px 0px;}

#descripcionLuzSilente { width:100%; height:450px;}
#descripcionLuzSilente #logoDescripcion { width:37%; margin:5%;}
#descripcionLuzSilente #logoDescripcion img{ width:100%;}
#descripcionLuzSilente #descripcion {width:37%; margin:15% 2.5% 2.5% 2.5%;}
#descripcionLuzSilente #descripcion p{ font-size:1em; line-height:1emx; word-spacing:0.5em; letter-spacing:1px; padding-top:10%;}
#facebook{ left:45%; bottom:-1%} 
/*	-----	-----	-----	-----	Cine Club	-----	-----	-----	-----	----	----*/

#cineClub{ width:100%;  }
#cineClub #tituloCineClub{width:100%;}
#cineClub #tituloCineClub h2{font-size:3em; padding:4.5% 0px; text-align:center;}

#cineClub .descripcionCineClub{width:100%;}
#cineClub .descripcionCineClub .cartel{ width:37%; margin:2.5%; }
#cineClub .descripcionCineClub .cartel img{ width:100%;}
#cineClub .descripcionCineClub .descripcionCartel{width:37%; height:35%; margin:5%;}
#cineClub .descripcionCineClub .descripcionCartel h3{ font-size:1.3em;}
#cineClub .descripcionCineClub .descripcionCartel p{font-size:1em; line-height:90%; word-spacing:.1em; letter-spacing:.15em; padding-top:4%;}
#cineClub .descripcionCineClub .descripcionCartel a{ font-size:1.3em }

/*	-----	-----	-----	-----	Talleres	-----	-----	-----	-----	----	----*/

#talleres {width:100%;  }
#talleres #tituloTalleres {width:100%;}
#talleres #tituloTalleres h2 { font-size:3em; text-align:center; padding:4% 0%;}

#talleres .descripcionTalleres {width:100%; }
#talleres .poster{ width:45%; height:95%; margin:5% 0% 5% 5%; }
#talleres .poster img{width:100%; }
#talleres .descripcionPoster{width:37%; height:35%; margin:1%; }
#talleres .descripcionPoster h3{ text-align:right; font-size:1.4em;}
#talleres .descripcionPoster p{font-size:1.3em;  line-height:1em; word-spacing:.5em; letter-spacing:.1em; padding-top:4%;}
#talleres .descripcionPoster a{font-size:1.3em; color:silver;}

/*	-----	-----	-----	-----	Contacto	-----	-----	-----	-----	----	----*/

#contacto{width:100%; }
#contacto #formulario{width:50%; margin:0% 0% 0% 20% ; padding:10% 0% 4% 0%}
#contacto #formulario .boton{ width:100%; height:50px; margin:10px 0px;}
#contacto #formulario .mensaje{width:100%; margin:10px 0px; padding:10% 0% 0% 4%;}
#contacto #formulario .enviar, #contacto #formulario .borrar{width:50%; height:30px; margin:2% 0% 6% 50%;}

.botones{font-size:16px; padding:0px 0px 0px 10px;}
/*	-----	-----	-----	-----	contactoTaller	-----	-----	-----	-----	----	----*/

#contactoTaller{width:100%; }
#contactoTaller #formulario{width:50%; margin:0% 0% 0% 20% ; padding:10% 0% 4% 0%}
#contactoTaller #formulario .boton{ width:100%; height:50px; margin:10px 0px;}
#contactoTaller #formulario .mensaje{width:100%; margin:10px 0px; padding:10% 0% 0% 4%;}
#contactoTaller #formulario .enviar, #contacto #formulario .borrar{width:50%; height:30px; margin:2% 0% 6% 50%;}
/*	-----	-----	-----	-----	contactoPage	-----	-----	-----	-----	----	----*/

#contactoPage{width:100%; }
#contactoPage #formulario{width:50%; margin:0% 0% 0% 20% ; padding:10% 0% 4% 0%}
#contactoPage #formulario .boton{ width:100%; height:50px; margin:10px 0px;}
#contactoPage #formulario .mensaje{width:100%; margin:10px 0px; padding:10% 0% 0% 4%;}
#contactoPage #formulario .enviar, #contacto #formulario .borrar{width:50%; height:30px; margin:2% 0% 6% 50%;}

}